// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.pagination > li > a {
  border: none;
  color: #696969;
}

.pagination > .active > a {
  background: #7da1c4;
  border-radius: 15px;
}

.pagination > li > a:hover {
  border-radius: 15px;
}
